body
{
    background-image: url(images/background.jpg);
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

#tooltip
{
    margin-top: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: 100vh;
    font-family: sans-serif;
    font-size: 200%;
}

.icon{
    margin-left: 150px;
    margin-right: 150px;
    display: inline;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    color: black;
    position: relative;
}

.icon:hover{
    transform: scale(1.35);
    text-shadow: 2px 2px #585858;
}

#header{
    font-size: 600%;
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    margin: 70px;
    cursor: default;
    transition: all 1s;
    text-shadow: 3px 3px 2px #585858;
}
#header:hover{
    letter-spacing: 5px;  
    text-shadow: 4px 3px 2px #585858;
}
iframe {
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.5);
    margin-top: 150px;
    border-radius: 10px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

footer{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 375px;
    bottom: 0px;
}
